<div class="d-flex justify-content-center w-100 chat p-3">
  <mat-card class="chat-card p-2">
    <!-- box content -->
    <div  class="bg-light box-content1 box-content-full  d-flex justify-content-center align-items-end">
      <div #mmm  class="px-2 w-100">
        <div  *ngFor="let message of msgList">
          <div *ngIf="message.msg" class="my-3 p-3 {{checkUsername === message.username ? 'text-right' : 'text-left' }}">
           <p>
            <span class="rounded-circle  bg-dark text-light border p-2 mr-1">{{message.username | slice:5:7}}</span>
            <span class="bg-white p-2 px-5 rounded  text-success">
              {{message.msg }}
            </span>
           </p>
            <p class="time" style="font-size: xx-small;">{{message.created| date: 'shortTime'}} {{message.created| date: 'fullDate'}}</p>
          </div>
          <p *ngIf="!message.msg" class="my-3 p-3 text-center">
            <span class="bg-info  p-3 rounded-circle text-white">
              {{message.username }} join room
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- box content -->
    <div class="chat-search d-flex justify-content-center">
      <mat-form-field class="w-100 px-2" appearance="outline">
        <input (keydown.enter)="send()" [(ngModel)]="msg" matInput>
        <a  matSuffix>
         <button  (click)="send()" mat-icon-button> <mat-icon >send</mat-icon></button>
        </a>
      </mat-form-field>
    </div>
  </mat-card>
</div>
